extends layout

block content
  h1= title
  p Welcome to #{title}
  script.
    var socket = io.connect('http://localhost');
    socket.on('distance', function (data) {
      console.log(data);
      $("#distance").prepend($("<li/>").html(data));
    });

    socket.on('angle_set', function (data) {
      console.log(data);
      $("#status").html("angle set to " + data);
    });

    $(document).ready(function(){
         $( "#set_angle" ).on( "submit", function( event ) {
            event.preventDefault();
            $.post(this.action, $( this ).serialize() );
          });
       });
  
  form#set_angle(method="post", action="/pi/set_angle")
    input#angle_text(type="text", name="angle")
    input(type="submit", value="set")
    span#status


  ul#distance
