extends layout

block content
  //form#set_angle(method="post", action="/pi/set_angle")
  //  input#angle_text(type="text", name="angle")
  //  input(type="submit", value="set")
  //video(controls='controls', width='1280', height='720', autoplay='autoplay')
  //source(src='index.m3u8', type='application/x-mpegURL')
  h1 nobo 0.1
  table#main
    tr
      td
        button#left_go.btn.btn-success.btn-lg.motor(type='button', side='left', dir='fwd') !Go!
        br
        br
        button#left_back.btn.btn-warning.btn-lg.motor(type='button', side='left', dir='back') Back
      td
        | [VIDEO FEED]
      td
        button#right_go.btn.btn-success.btn-lg.motor(type='button', side='right', dir='fwd') !Go!
        br
        br
        button#right_back.btn.btn-warning.btn-lg.motor(type='button', side='right', dir='back') Back

  div
    div#slider
    div#status
  ul#distance

  script.
    var socket = io.connect('http://henkin.us:3000');
    socket.on('distance', function (data) {
      //console.log(data);
      $("#distance").prepend($("<li/>").html(data));
    });

    socket.on('angle_set', function (data) {
      console.log(data);
      $("#status").html("angle set to " + data);
    });

    $(document).ready(function(){
        
        $( "#set_angle" ).on( "submit", function( event ) {
            event.preventDefault();
            $.post(this.action, $( this ).serialize() );
        });
         
       });
    $(function() {
        $( "#slider" ).slider({ 
          min: -75, 
          max: 75
        })
        .on( "slidechange", function( event, ui ) { 
          //console.log(ui.value);
          $.post("/pi/set_angle", { angle: ui.value });
        })
      });
    go = function(side, dir) {
        console.log(side);
        console.log(dir);
    };

    stop = function (side) {
        console.log("stopping " + side);
    };

    $(".motor")
        .mousedown(function () { go($(this).attr("side"), $(this).attr("dir")); })
        .mouseup(function () { stop($(this).attr("side")); })
    ;

