body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main { height: 500px; width: 100%; vertical-align: top; }
#main tr td { vertical-align: top; }